* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("backg.jpg");
  background-size: cover;
  background-position: center;
}

.name {
  display: flex;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 25px;
  color: white;
  font-weight: 700;
  width: 120px;
  cursor: pointer;


}

.container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  font-style: italic;
  font-family: "Italianno", cursive;


}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
}

button {
  width: 150px;
  padding-bottom: 0px;
  height: 40px;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #c7d2d0;
  background: transparent;
  color: white;
  font-size: 15px;
  margin-right: 25px;


}

button:hover {
  background-color: #c7d2d0;
  transition: background-color 0.7s ease;
  color: rgb(37, 37, 37);
}

button:active {
  background-color: #171918;
  transition: background-color 0.7s ease;
  color: rgb(37, 37, 37);
}

form {
  margin-top: 30px;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  padding-left: 50x;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="file"] {
  font-size: 16px;
  margin-left: 35px;
  font-family: 'Arial';

}